{
  "User": {
    "Password" = "",
    "Name" = "",
    "Email" = ""
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server={ServerName};Database={DATABASE_NAME};Trusted_Connection=True;TrustServerCertificate=True;"
  },
  "Jwt": {
    "SecretKey" = "",
    "Issuer" = "",
    "Audience" =  ""
  }
}